@model Models.Basket

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Basket</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Authentification.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Authentification.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Purchased)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Purchased)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfPurchased)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfPurchased)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Invoice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Invoice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalPrice)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
